<body
  class="bg-image"
  style="
    background-image: url('images/whatever.png');
    background-repeat: none;
    min-height: 100vh;
    background-position: center;
    background-origin: center;
    size-adjust: 100vh;
  "
>
  <h1>On a plus de trains, lol</h1>

  <button type="submit" class="btn btn-info mt-3">Retourner au paradis</button>
</body>
