body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00b7ff;
}

a {
  color: #00b7ff;
}

h3 {
  color: white;
  margin-bottom: 40px;
  padding: 50px;
}

.img-fluid {
  width: 300px;
  margin-top: 150px;
}

.bg-image {
  background-repeat: none;
  min-height: 100vh;
  background-position: center;
  background-origin: center;
}
